{% extends 'base_main.html' %}
{% block content %}
    {% from 'function.html' import hello %}
    {{ hello() }}

    {% from 'function.html' import demo %}
    {{ demo('佐助','18','male',address='东荒') }}

    {{ content_h2 | safe }}
    {{ content_h2 | length }}
    <p style="color: crimson">{{ content_h2 | striptags }}</p>
    {{ content_h2 | striptags | capitalize }} <br>
    {{ content_h2 | striptags | title }}
    {{ content_h2 | safe | striptags | title }}

    {% for foo in stu_scores %}
        {#        jinja2中没有ifequal#}
        <p {% if loop.first %} style="color: red"{% endif %}>
            序号:{{ loop.index0 }} 成绩:{{ foo }}</p>
        {{ loop.first }}|{{ loop.last }}
    {% endfor %}


{% endblock %}