{% extends 'base_main.html' %}

{% block title %}
    注册
{% endblock %}

{% block content %}
    <form action="" method="post">
        {{ form.csrf_token }}
        {{ form.username.label }}:{{ form.username(style="color:red;") }}
        {{ form.password.label }}:{{ form.password }}
        {{ form.password2.label }}:{{ form.password2 }}
        {{ form.submit }}
    </form>
    {% if form.errors.username %}
        <p style="color:red;">{{ form.errors.username.0 }}</p>
    {% endif %}
    {% if form.errors.password2 %}
        <p style="color:red;">{{ form.errors.password2.0 }}</p>
    {% endif %}

{% endblock %}