{% extends 'base.html' %}

{% block title %}
    注册
{% endblock %}

{% block extJs %}
    <script src="/static/js/jquery-2.1.4.min.js"></script>
{% endblock %}

{% block content %}
    <form action="" method="post" enctype="multipart/form-data">
        {{ form.errors.truename }}
        姓名:<input type="text" name="truename" placeholder="请输入姓名" id="name">
        <span class="spanname"></span>
        <br><br>
        {{ form.errors.usertel }}
        电话:<input type="text" name="usertel" placeholder="请输入电话" id="tel">
        <span class="spantel"></span>
        <br><br>
        {{ form.errors.username }}
        用户名:<input type="text" name="username" placeholder="请输入用户名" id="username">
        <span class="spanusername"></span>
        <br><br>
        {{ form.errors.password }}
        密码: <input type="password" name="password" placeholder="请输入密码" id="password">
        <span class="spanpassword"></span>
        <br><br>
        {{ form.errors.password2 }}
        确认密码:<input type="password" name="password2" placeholder="确认密码" id="password2">
        <span class="spanpassword2"></span>
        <br><br>
        <input type="submit" value="注册" id="submit">
    </form>
{% endblock %}

{% block extJs3 %}
    <script>
        {#oname = document.form.name;#}
        oname = document.getElementById('name');
        ontel = document.getElementById('tel');
        onusername = document.getElementById('username');
        onpassword = document.getElementById('password');
        onpassword2 = document.getElementById('password2');

        oname.onblur = function () {
            var spanname = document.getElementsByClassName('spanname')[0];
            // 得到自己的值
            content = this.value;
            // 用户名长度必须大于等于2位
            if (content.length < 2) {
                spanname.innerHTML = '用户名不合法';
                spanname.style.color = 'red'
            } else {
                spanname.innerHTML = '√';
                spanname.style.color = 'green'
            }
        };
        ontel.onblur = function () {
            var spantel = document.getElementsByClassName('spantel')[0];
            content = this.value;
            re = /^1\d{10}$/;
            if (!content.match(re)) {
                spantel.innerHTML = '手机号码格式不正确';
                spantel.style.color = 'red'
            } else {
                spantel.innerHTML = '√';
                spantel.style.color = 'green'
            }
        };

        onusername.onblur = function () {
            var spanusername = document.getElementsByClassName('spanusername')[0];
            // 得到自己的值
            content = this.value;
            // 用户名长度必须大于等于2位
            if (content.length < 2) {
                spanusername.innerHTML = '用户名不合法';
                spanusername.style.color = 'red'
            } else {
                spanusername.innerHTML = '√';
                spanusername.style.color = 'green'
            }
        };

        onpassword.onblur = function () {
            var spanpwd = document.getElementsByClassName('spanpassword')[0];
            // 得到自己的值
            content = this.value;
            if (content.length < 6) {
                spanpwd.innerHTML = '密码长度不够';
                spanpwd.style.color = 'red'
            } else {
                spanpwd.innerHTML = '√';
                spanpwd.style.color = 'green'
            }
        };


        onpassword2.onblur = function () {
            var content1 = onpassword.value;
            var spanpwd2 = document.getElementsByClassName('spanpassword2')[0];
            // 得到自己的值
            content = this.value;
            if (content1 !== content) {
                spanpwd2.innerHTML = '两次密码不一致';
                spanpwd2.style.color = 'red'
            }
            else {
                spanpwd2.innerHTML = '√';
                spanpwd2.style.color = 'green'
            }

        };
    </script>
{% endblock %}